<ion-view title="About">
    <ion-content padding="true" class="has-header scroll-bg" ng-init="getLocalFeed()">
        <ion-refresher
                class="spinner-positive"
                spinner = "lines"
                refreshing-icon = "lines"
                pulling-icon = "ion-arrow-down-c positive"
                on-refresh="initRemoteFeed()">
        </ion-refresher>
<!--
        The database is called {{db_name}}, there are {{doc_count}} docs, dbtype is {{sqlite_plugin}}
        <button class="button button-dark button-block button-small icon-left ion-minus-circled" ng-click="cleanDB()">Clean About Database</button>

-->
<!--        <span ng-hide="posts.length">
        <button class="button button-dark button-block button-small icon-left ion-minus-circled" ng-click="getRemoteFeed()">get remote data</button>
        </span>-->
        <span ng-show="posts.length">
               <button class="button button-full button-dark gloria-h">
                   Partners
               </button>
        <span ng-repeat="p in posts | filter: partnerFilter">
            <div class="list card">
                <div class="item item-divider">{{p.title}}</div>
                <div class="item item-body">
                    <img ng-show="p._attachments.featured_image" width="300px" data-ng-src="data:image/png;base64,{{p._attachments.featured_image.data}}" id="featured-id"/>
                    <img ng-show="!p._attachments.featured_image" width="300px" data-ng-src="{{p.featured_image.source}}" alt="">
                    <div data-ng-bind-html="toTrusted(p.content)"></div>
                </div>
            </div>
        </span>

        <button class="button button-full button-dark gloria-h">
            Acknowledgements
        </button>
       <span ng-repeat="p in posts | filter: ackFilter">
            <div class="list card">
                <div class="item item-divider">{{p.title}}</div>
                <div class="item item-body">
                    <img ng-show="p._attachments.featured_image" width="300px" data-ng-src="data:image/png;base64,{{p._attachments.featured_image.data}}" id="featured-id"/>
                    <img ng-show="!p._attachments.featured_image" width="300px" data-ng-src="{{p.featured_image.source}}" alt="">
                    <div data-ng-bind-html="toTrusted(p.content)"></div>
                </div>
            </div>
        </span>
<button class="button button-full button-dark gloria-h">
    Disclaimers
</button>
        <span ng-repeat="p in posts | filter: legalFilter">
            <div class="list card">
                <div class="item item-divider">{{p.title}}</div>
                <div class="item item-body">
                    <img ng-show="p._attachments.featured_image" width="300px" data-ng-src="data:image/png;base64,{{p._attachments.featured_image.data}}" id="featured-id"/>
                    <img ng-show="!p._attachments.featured_image" width="300px" data-ng-src="{{p.featured_image.source}}" alt="">
                    <div data-ng-bind-html="toTrusted(p.content)"></div>
                </div>
            </div>
        </span>

        </span>
    </ion-content>
</ion-view>
