<ion-view title="{{post.name}}">
    <ion-content lazy-scroll padding="true" class="has-header category-bg" ng-init="loadPostList(post.slug)">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="post in postlist" data-ng-click="openModal(post)">
                <img image-lazy-src="{{post.featured_image.source || 'img/coming-soon.png'}}" image-lazy-loader="lines">
                <h2 data-ng-bind-html="post.title"></h2>
                <div data-ng-bind-html="toTrusted(post.excerpt)"></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
