<ion-view ng-style="{'background-image':'url(img/section-background.jpg)'}">
    <ion-nav-title>
        News, Quotes and more
    </ion-nav-title>
    <ion-content class="has-header padding" scroll="true" scrollbar-y="false" ng-controller="QuarkyHomeCtrl" ng-init="loadBlogs()">
        <div data-ng-if="!posts.length">
            <p style="text-align:center"><br>No connection right now...</p>
        </div>

        <div data-ng-if="posts[0]">

            <div class="row responsive-sm" data-ng-repeat="p in posts" ng-if="$index % 3 === 0">
                <div class="col col-33" ng-if="$index < posts.length">
                    <div class="list card">
                        <div class="item item-stable item-icon-left item-icon-right">
                            <i data-ng-class="categoryIcon(posts[$index].terms.category[0])"></i>
                            <div data-ng-bind-html="toTrusted(posts[$index].title)">
                            </div>
                            <div data-ng-repeat="cat in posts[$index].terms.category">
                                <button class="button button-small button-stable">
                                    {{cat.name}}
                                </button>
                            </div>
                            <i class="tab-item icon ion-share"></i>
                        </div>
                        <div class="item item-body">
                            <img class="full-image" data-ng-src="{{posts[$index].featured_image.source}}" alt="">
                            <p><div data-ng-bind-html="toTrusted(posts[$index].excerpt)">
                        </div></p>
                        </div>
                    </div>
                </div>

                <div class="col col-33" ng-if="$index + 1 < posts.length">
                    <div class="list card">
                        <div class="item item-stable item-icon-left item-icon-right">
                            <i data-ng-class="categoryIcon(posts[$index + 1].terms.category[0])"></i>
                            <div data-ng-bind-html="toTrusted(posts[$index + 1].title)">
                            </div>
                            <div data-ng-repeat="cat in posts[$index + 1].terms.category">
                                <button class="button button-small button-stable">
                                    {{cat.name}}
                                </button>
                            </div>
                            <i class="tab-item icon ion-share"></i>
                        </div>
                        <div class="item item-body">
                            <img class="full-image" data-ng-src="{{posts[$index + 1].featured_image.source}}" alt="">
                            <p><div data-ng-bind-html="toTrusted(posts[$index + 1].excerpt)">
                        </div></p>
                        </div>
                    </div>
                </div>

                <div class="col col-33" ng-if="$index + 2 < posts.length">
                    <div class="list card">
                        <div class="item item-stable item-icon-left item-icon-right">
                            <i data-ng-class="categoryIcon(posts[$index + 2].terms.category[0])"></i>
                            <div data-ng-bind-html="toTrusted(posts[$index + 2].title)">
                            </div>
                            <div data-ng-repeat="cat in posts[$index + 2].terms.category">
                                <button class="button button-small button-stable">
                                    {{cat.name}}
                                </button>
                            </div>
                            <i class="tab-item icon ion-share"></i>
                        </div>
                        <div class="item item-body">
                            <img class="full-image" data-ng-src="{{posts[$index + 2].featured_image.source}}" alt="">
                            <p><div data-ng-bind-html="toTrusted(posts[$index + 2].excerpt)">
                        </div></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
