<!--
app.places-articles
This is the list of articles for a given search or filter
Selecting one of the items in the list will display the article in a modal
TODO: add infinite scroll

-->
<ion-view title="{{placeHeader | capitalize}}">
    <ion-content class="category-bg">
        <!-- QUARKY Places -->
        <div class="list">
            <ion-list class="list">
                <ion-item class="item-avatar" ng-repeat="match in quarkyMatches" href="#/app/place-detail/{{match.id}}">
                    <img data-ng-src="{{match.iconurl}}">
                    <h2 data-ng-bind-html="match.name"></h2>
                    <p ng-if="match.distance != 777"> {{match.distance | number:1}} mi.</p>
                    <p ng-if="match.distance == 777" data-ng-bind-html="match.formatted_address"></p>
                    <!--<span ng-if="match.distance != 777" class="badge badge-dark">{{match.distance | number:1}} mi.</span>-->
                </ion-item>
            </ion-list>
        </div>
        <!-- QUARKY Places -->

        <div ng-if="noresult" class="card no-margin">
            <div class="item item-icon-left item-text-wrap item-balanced gloria-h">
                <i class="icon ion-information-circled"></i>
                {{noresult}}
            </div>
        </div>

    </ion-content>
</ion-view>
