<ion-view title="{{place.name}}">

    <ion-content>

        <div class="list card">

            <div class="item item-avatar">
                <img src="{{place.icon}}">
                <h2>{{place.name}}</h2>
                <p>{{place.formatted_address}}</p>
            </div>

            <div class="item item-body">

                <p>
				<span ng-show="hasOpen">
					This business is currently
						<span ng-show="place.opening_hours.open_now">open.</span>
						<span ng-hide="place.opening_hours.open_now">closed.</span>
						<br/>
				</span>
				<span ng-show="price">
					Items here are generally priced "{{price}}".<br/>
				</span>
                </p>

                <div ng-show="hasPhotos">

                    <ion-slide-box show-pager="true">

                        <ion-slide ng-repeat="photo in place.photos">
                            <img ng-src="{{photo.url}}">
                        </ion-slide>

                    </ion-slide-box>

                </div>

                <p ng-show="!hasPhotos">
                    <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{place.position.latitude}},{{place.position.longitude}}&zoom=14&markers=color:blue%7C{{place.position.latitude}},{{place.position.longitude}}&size=310x310&sensor=true" width="310" height="310" class="full-image" />
                </p>


            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="tel:{{place.formatted_phone_number}}">
                    <i class="icon ion-ios-telephone"></i> {{place.formatted_phone_number}}
                </a>
                <a class="tab-item" data-ng-click="viewPlace(place.website)" href="#" >
                    <i class="icon ion-link"></i> Visit Website
                </a>
                <a class="tab-item" data-ng-click="viewPlace('http://maps.google.com/maps?z=12&t=m&q=loc:'+place.position.latitude+'+'+place.position.longitude)" href="#">
                    <i class="icon ion-map"></i> View Map
                </a>
            </div>
        </div>

    </ion-content>

</ion-view>