<!--
app.places-master
This is the entry view for Places
It determines location and presents the first level of search and filtering
-->

<ion-view title="Places">
    <ion-header-bar class="bar-dark bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input ng-model="search.text" type="search" placeholder="Search places">
        </label>
        <button class="button button-clear" ng-click="doSearch()">
            Go
        </button>
    </ion-header-bar>
    <ion-header-bar class="bar-dark bar-subheader item-input-inset">
        <div class="padding range range-dark">
            <i class="icon ion-android-walk"></i>
            <input type="range" ng-model="search.radius" name="distance" min="1" max="25" ng-change="updateSearch('radius', search.radius)" value="25">
            <i class="icon ion-android-car"></i>
            {{ search.radius}} mi.
        </div>
    </ion-header-bar>
    <ion-content class="category-bg has-header has-subheader has-tabs-top" ng-init="bootstrapFeed()"
                 ng-controller="PlacesMasterCtrl">
        <div ng-show="myPosition.error">
            Location Error ({{myPosition.error.code}}): {{myPosition.error.message}}
        </div>
        <span ng-repeat="p in posts">
                <a data-ng-click="doGallery(p)">
                    <img style="display: block;" data-ng-src="{{p.featured_image.local}}" width="100%" alt="">
                </a>
        </span></ion-content>
</ion-view>
