<!--
app.place-detail
Shows the details of any given place using a card
The card shows the name, address, available photos or a static map, hours, pricing
Enables the user to open the website of the place, in-app
Enables the user to call the place, in-app
Enables user to open the Place separately in a google map webpage
-->

<ion-view>


    <ion-content scroll=true class="category-bg no-margin no-padding">
        <div class="list card">
            <div class="item item-stable item-avatar">
                <img data-ng-src="{{place.icon}}">
                <h2>{{place.name}}</h2>
                <p>{{place.formatted_address}}</p>
            </div>
            <div class="item item-body item-text-wrap">
                <p ng-show="place.description">{{place.description}}</p>
            </div>
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-pricetags"></i>

                <button class="button button-small button-dark" ng-repeat="foo in place.tags" ng-disabled="true">
                    {{foo}}
                </button>


            </div>

            <div class="item tabs tabs-secondary tabs-dark tabs-icon-top">
                <a ng-show="placePhone" class="tab-item" ng-click="makeCall(placePhone)">
                    <i class="icon ion-ios-telephone"></i> {{place.formatted_phone_number}}
                </a>
                <a ng-show="place.website" class="tab-item" ng-click="showPage(place.website)">
                    <i class="icon ion-link"></i> Visit Website
                </a>
                <a class="tab-item"
                   ng-click="showPage('https://google.com/maps/place/'+place.coordinates.lat+','+place.coordinates.lng+'/@'+place.coordinates.lat+','+place.coordinates.lng+',17z')">

                    <i class="icon ion-map"></i> View Map
                </a>
                <a ng-show="hasOpen" ng-click="showHours(place.formatted_hours_array)" class="tab-item">
                    <i class="icon ion-clock"></i> Hours
                </a>
            </div>
            <div ng-show="!hasPhotos" class="item item-image">
                <img data-ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{place.coordinates.lat}},{{place.coordinates.lng}}&zoom=14&markers=color:blue%7C{{place.coordinates.lat}},{{place.coordinates.lng}}&size=310x310&scale=2"
                     width="100%"/>
            </div>
            <div ng-show="hasPhotos" class="item item-image">
                <ion-slide-box show-pager="true">

                    <ion-slide ng-repeat="photo in place.photos track by $index">
                        <img ng-src="{{photo.url}}">
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div ng-show="place.formatted_address" class="item item-body">
                <p>{{place.formatted_address}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>