<ion-view cache-view="false" title="Your Profile">
    <ion-content padding="true" class="scroll-bg">

        <div>
            <img id="profile-image" data-ng-src="{{auth.profile.picture}}">

            <div id="profile-name" class="text-center padding-top">{{ auth.profile.name }}</div>
        </div>

        <div class="list card dark-bg">

            <ion-item class="item-dark item-icon-right" ng-click="setVolForPlaces()">
                <i class="icon ion-edit positive"></i>
                Volunteer: {{want_add_places ? 'Yes' : 'No'}}
            </ion-item>
   <!--         <ion-item ng-class="{ 'item-dark': want_add_places, 'item-assertive' : !want_add_places}"
                      class="item-icon-right" ng-click="setVolForPlaces()">
                <i class="icon ion-edit positive"></i>
                Volunteer: {{want_add_places ? 'Yes' : 'No'}}
            </ion-item>
-->
<!--
            <ion-item
                      class="item-icon-left" ng-click="WPgetUser('1')">
                <i class="icon ion-ribbon-a"></i>
                getUser wp-api v2
            </ion-item>

            <ion-item
                      class="item-icon-left" ng-click="WPgetMe()">
                <i class="icon ion-ribbon-a"></i>
                getMe
            </ion-item>

            <ion-item
                      class="item-icon-left" ng-click="WPcreatePost()">
                <i class="icon ion-ribbon-a"></i>
                createPost wp-api v2
            </ion-item>
            <ion-item
                    class="item-icon-left" ng-click="WPtestComments()">
                <i class="icon ion-ribbon-a"></i>
                test Comments
            </ion-item>-->

            <!--<ion-item ng-if="!angular.equals({}, $scope.lastPush)" class="item-avatar item-stable">-->
           <!-- <ion-item class="item-avatar item-dark">
                <img src="img/quarkycon.png">
                <div>{{lastPush.title || 'No messages yet'}}</div>
                <div>{{lastPush.text || ''}}</div>
                <div>{{lastPush.date | date:'medium' || ''}}</div>
            </ion-item>-->

            <ion-item class="item item-icon-right item-dark" ng-click="setGender()">
                <i class="icon ion-edit positive"></i>
                Gender: {{gender | capitalize}}
            </ion-item>

            <ion-item class="item item-icon-right item-dark" ng-click="openDatePicker()">
                    <i class="icon ion-edit positive"></i>
                    Birthday: {{birthday | date:'MMM d, y'}}
            </ion-item>

            <!-- <ion-item class="item item-icon-left">
                 <i class="icon ion-speakerphone"></i>
                 App feedback
             </ion-item>-->

            <ion-item class="item item-icon-left item-dark">
                <i class="icon ion-email"></i>
                {{auth.profile.email || 'not on file'}}
            </ion-item>


            <ion-item class="item item-icon-left item-dark" ng-show="currentPlatform">
                <i class="icon ion-iphone"></i>
                {{currentPlatform}} version {{currentPlatformVersion}}
            </ion-item>


        </div>

        <div class="button-bar item-text-wrap">
            <a class="button button-dark icon-left ion-locked" ng-click="launch('https://quarkyapp.com/app-privacy-policy/')">Privacy
                Policy</a>
            <a class="button button-dark icon-left ion-log-out" ng-click="logout()">Logout</a>
        </div>

    </ion-content>
</ion-view>
