<ion-view title="Your Profile">
    <ion-content padding="true" class="category-bg">

        <div>
            <img id="profile-image" data-ng-src="{{auth.profile.picture}}">
            <div id="profile-name" class="text-center padding-top">{{ auth.profile.name }}</div>
        </div>


        <div class="list card dark-bg">
                <ion-item ng-show="auth.profile.app_metadata.can_add_places" class="item-icon-left item-positive">
                    <i class="icon ion-ribbon-a"></i>
                    You can add places!
                </ion-item>

                <ion-item ng-show="!auth.profile.app_metadata.can_add_places" ng-class="{ 'item-positive': selectVol, 'item-assertive' : !selectVol}"
                          class="item-icon-left" ng-click="setVolForPlaces()">
                    <i class="icon ion-ribbon-a"></i>
                    Volunteer: {{selectVol || 'tap to request' | capitalize}}
                </ion-item>

                <ion-item ng-class="{ 'item-dark': selectGender, 'item-assertive' : !selectGender}"
                          class="item-icon-left" ng-click="setGender()">
                    <i class="icon ion-person positive"></i>
                    Gender: {{selectGender || 'tap here' | capitalize}}
                </ion-item>


                <ion-item ng-class="{ 'item': auth.profile.user_metadata.birthday, 'item-assertive': !auth.profile.user_metadata.birthday }"
                          class="item-icon-left item-dark">
                    <ionic-datepicker input-obj="datepickerObject">
                        <i class="icon ion-happy energized"></i>
                        Birthday: {{datepickerObject.inputDate || 'Tap here' | date:'MMM d, y'}}
                    </ionic-datepicker>
                </ion-item>

               <!-- <ion-item class="item item-icon-left">
                    <i class="icon ion-speakerphone"></i>
                    App feedback
                </ion-item>-->

                <ion-item class="item item-icon-left item-dark">
                    <i class="icon ion-email calm"></i>
                    {{auth.profile.email || 'not on file'}}
                </ion-item>

                <ion-item class="item item-icon-left item-dark" ng-show="currentPlatform">
                    <i class="icon ion-iphone balanced"></i>
                    {{currentPlatform}} version {{currentPlatformVersion}}
                </ion-item>
        </div>

        <button class="button button-outline button-positive button-block icon-right ion-log-out" ng-click="logout()">Logout</button>


        <!--  ADD ARTICLES TESTING

                <div ng-if="!posts.length">
                    <div id="profile-name">No articles right now</div>
                </div>

                <div ng-show="auth.profile.can_add_places" class="button-bar">
                    <a class="button button-positive icon-left ion-social-google" ng-click="addArticle()">Add an article!</a>
                </div>
                <div ng-show="auth.profile.can_add_places" class="button-bar">
                    <a class="button button-positive icon-left ion-social-google" ng-click="addArticle2()">Add an article v2!</a>
                </div>

                <ion-list>
                    <ion-item class="item-thumbnail-left" ng-repeat="p in posts">
                        <img src="{{'img/coming-soon.png'}}">
                        <h2>{{p.title.rendered}}</h2>
                    </ion-item>
                </ion-list>
        -->

    </ion-content>
</ion-view>
