/* Quarky css by Derek Baron */

body{
    font-family: 'FontAwesome';
}

#profile-info {
    position: absolute;
    /*top: -95px;*/
    width: 100%;
    z-index: 2;
    text-align: center;
}
#profile-name {
    color: #444;
    font-size: 26px;
}
#profile-description {
    font-size: 15px;
    color: #888;
}

#profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

.avatar {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin: 0 auto;
    text-align: center;
    display:block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}
