/* Quarky css by Derek Baron */

/* make cards closer together */
.card{
  margin-bottom: -20px !important;
}
.card-item-height {
   /* height: 50vh; */
    height: 300px;
}

/* App Intro */
.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#logo {
    margin: 30px 0px;
}

#list {
    width: 80%;
    margin: 30px auto;
    font-size: 15px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.button.ng-hide{
    display:none;
}


